body{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
    width: 197px;
    margin: 25%;
    background-color: #fff;
}
text{
    margin-left: 10px;
}
div{
    background-color: #bbb;
}
.btnEnviar{
    width: 177px;
    background-color: #777;
}

input{
    margin: 10px;
}